/*!*.navbar-custom{*!*/
    /*!*background-color: #bfbfbf;*!*/
    /*!*border-color: #d9d9d9;*!*/
    /*!*color: #fff;*!*/
/*!*}*!*/

/*!*.navbar-custom a.navbar-brand, .navbar-custom .top-nav>li>a{*!*/
    /*!*color: #fff;*!*/
/*!*}*!*/

/*!*.sidenav-custom > .side-nav{*!*/
    /*!*background-color: #bfbfbf;*!*/
/*!*}*!*/

/*!*.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus{*!*/
    /*!*background-color: #f2f2f2;*!*/
    /*!*color: #999999;*!*/
/*!*}*!*/

/*!*.sidenav-custom > .side-nav>li> ul > li.active > a{*!*/
    /*!*background-color: #f2f2f2;*!*/
    /*!*color: #999999;*!*/
/*!*}*!*/

/*!*.sidenav-custom > .side-nav > li > a{*!*/
    /*!*color: #fff;*!*/
/*!*}*!*/

/*!*@media (min-width: 768px){*!*/
    /*!*.sidenav-custom > .side-nav > li > a{*!*/
        /*!*color: #fff;*!*/
        /*!*width: 230px;*!*/
    /*!*}*!*/

    /*!*.sidenav-custom > .side-nav li a:hover,*!*/
    /*!*.sidenav-custom > .side-nav li a:focus {*!*/
        /*!*outline: none;*!*/
        /*!*background-color: #f2f2f2 !important;*!*/
        /*!*color: #999999;*!*/
    /*!*}*!*/

    /*!*.navbar-custom .top-nav>li>a:hover,*!*/
    /*!*.navbar-custom .top-nav>li>a:focus,*!*/
    /*!*.navbar-custom .top-nav>.open>a,*!*/
    /*!*.navbar-custom .top-nav>.open>a:hover,*!*/
    /*!*.navbar-custom .top-nav>.open>a:focus{*!*/
        /*!*background-color: #f2f2f2;*!*/
        /*!*color: #999999;*!*/
    /*!*}*!*/
/*!*}*!*/

/*.sidenav-custom > .side-nav{*/
    /*width: 230px;*/
/*}*/

/*!*.sidenav-custom > .side-nav>li>ul>li>a{*!*/
    /*!*color: #fff;*!*/
/*!*}*!*/

/*!*body.custombackground{*!*/
    /*!*!*background-color: #b3d9ff;*!*!*/
    /*!*background-color: #f5f5f5;*!*/
/*!*}*!*/

.pad-top-10{
    padding-top: 10px;
}

/*#page-wrapper{*/
    /*!*min-height: 540px;*!*/
    /*min-height: calc(93vh - 70px);*/
    /*background-color: #fff;*/
/*}*/

.footer {
    /*position: absolute;*/
    bottom: 0;
    /*width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    margin-left: 250px;
    display: block;
}

/*#wrapper{*/
    /*padding-left: 230px;*/
/*}*/

/*li.subcat {*/
    /*margin-left: 15px;*/
/*}*/

/*li.subcat > i {*/
    /*color: #ffcc00;*/
/*}*/

/*li.maincat > a, li.maincat > a:hover, li.maincat > i{*/
    /*text-decoration: none;*/
    /*color: #ffcc00;*/
/*}*/

/*li.maincat > a.maincat_link, li.maincat > a.maincat_link:hover,*/
/*li.subcat > a, li.subcat > a:hover{*/
    /*color: #0099cc;*/
    /*text-decoration: none;*/
/*}*/

/*div.cat-sidebar{*/
    /*border-color: #ffff99;*/
/*}*/

/*div.cat-sidebar > div.panel-heading{*/
    /*background-color: #ffffb3;*/
    /*!*font-weight: bold;*!*/
    /*border-color: #ffff99;*/
/*}*/

/*!*.cat-cont{*!*/
    /*!*margin-top: 40px;*!*/
/*!*}*!*/

/*.currmenu{*/
    /*background-color: #ffffcc;*/
    /*padding: 2px 10px;*/
    /*border-radius: 2px;*/
/*}*/

div.order-box{
    width: 19.6%;
    /*display: inline-block;*/
    float: left;
    margin-right: 2px;
}


div.order-box div.panel-heading{
    /*background-color: #edf1f7;*/
}

div.order-box div.panel-default{
    border-color: #999999;
}

.sub-title h3{
    display: inline-block;
    font-weight: bold;
}

.sub-title small{
    margin-bottom: 10px;
    color: #999999;
    font-size: 14px;
    margin-left: 15px;
}

.sub-title{
    margin-bottom: 15px;
}

.sub-title button{
    margin-top: 20px;
}

.order-box > .panel-default{
    padding: 15px 3px;
    color: #999999;
}

.order-box > .panel-default:hover{
    color: #337ab7;
    font-style: italic;
    border: 1px dotted #337ab7;
    cursor: pointer;
}

.count-order-stat{
    font-size: 15px;
}

.order-box-title{
    margin: 10px 0px;
}

.one-box{
    display: block;
    height: auto;
}

.seller-info{
    margin-top: 70px;
}

/*div.seller-info div.panel-heading{*/
    /*background-color: #edf1f7;*/
/*}*/

/*div.seller-info div.panel-default{*/
    /*border-color: #6f8bc3;*/
/*}*/

span.req{
    color: #ff1a1a;
}

#editor {overflow:scroll; max-height:300px}

.ship-kg{
    margin-right: 5px;
}

.ship-rm{
    margin-left: 5px;
}

.ship-kg, .ship-rm{
    width: 60%;
    display: inline-block;
}

a.new_cat:hover{
    text-decoration: none;
}

li.subcat{
    padding-left: 15px;
}

li.maincat a, li.maincat i{
    color: #337ab7;
}

li.maincat a:hover, li.maincat a:focus{
    text-decoration: none;
    color: #23527c;
}

.navbar-default .navbar-brand{
    color: #337ab7;
}